@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1760px;
    padding: 65px 71px 0 92px;
    z-index: 2;
    position: absolute;
}

main {
    background-color: #0B1D26;
}

.background {
    background-image: url('/images/bgheader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 100%;
    z-index: 0;
}

.first_part_img {
    max-width: 100%;
}

.intro {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 130px;
    max-width: 100%;
    z-index: 1;
}

.logo {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 29px;
    font-family: "Playfair Display";
    color: white;
    z-index: 1;
    letter-spacing: 5px;
}

.menu {
    display: flex;
    gap: 30px;
    margin: 6px;
    z-index: 1;
}

.menu_button {
    background-color: transparent;
    border: 0;
}

.menu_link {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.account {
    display: flex;
    align-items: center;
    gap: 7px;
    z-index: 1;
}

.account_link {
    font-size: 18px;
    font-family: "Poppins";
    color: white;
    font-weight: 700;
}

.account_img {
    height: 24px;
}

.social_links {
    display: flex;
    writing-mode: vertical-lr;
    margin: 225px 0 0 80px;
    z-index: 1;
}

.links_text {
    font-family: "Poppins";
    font-size: 18px;
    color: white;
    padding: 4px;
    font-weight: 700;
}

.social_link {
    height: 16px;
    padding: 15px 3px;
}

.menu_button {
    display: none;
}

.intro_info {
    max-width: 950px;
    margin: 152px 470px 0 390px;
    flex-direction: column;
    z-index: 1;
}

.info_guide {
    display: flex;
    padding: 9px 0;
    align-items: center;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    color: #FBD784;
}

.info_guide:before {
    content: '';
    width: 72px;
    height: 2px;
    margin-right: 33px;
    display: block;
    background-color: #FBD784;
}

.info_text {
    font-family: "Playfair Display";
    font-size: 86px;
    font-weight: 600;
    color: white;
    margin: 26px 0;
    letter-spacing: 1px;
    line-height: 101px;
}

.intro_arrow {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
}

.arrow_text {
    font-size: 18px;
    font-family: "Poppins";
}

.arrow_img {
    height: 24px;
    margin-left: 5px;
}

.right_nav {
    display: flex;
    position: fixed;
    right: 66px;
    top: 325px;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

.nav_item {
    display: flex;
    color: white;
    font-family: "Poppins";
    font-size: 19px;
    align-items: center;
    border-right: thin solid white;
    padding: 23px 28px;
    font-weight: 700;
}

.item_start.visible,
.item_01.visible,
.item_02.visible,
.item_03.visible {
    border-right: 2px solid white;
}

.parts {
    display: flex;
    margin: -465px 205px 0 235px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1478px;
}

.first_part {
    display: grid;
    grid-template-columns: auto 566px;
    z-index: 1;
    padding-bottom: 200px
}

.grey_number {
    font-size: 240px;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
    opacity: 10%;
    position: absolute;
    margin-top: 35px;
}

.third_grey_number {
    font-size: 240px;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
    opacity: 10%;
    position: absolute;
    margin-top: 35px;
}

.inside_text {
    padding: 193px 30px 0 136px;
    max-width: 632px;
}

.orange_text {
    color: #FBD784;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 800;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
}

.orange_text:before {
    content: '';
    width: 72px;
    height: 2px;
    margin-right: 24px;
    display: block;
    background-color: #FBD784;
}

.first_part_img_wrap {
    max-width: 100%;
}

.first_part_img {
    object-fit: fill;
    height: 720px;
}

.text_title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    font-family: "Playfair Display";
    margin-top: 33px;
    max-width: 500px;
    line-height: 85px;
}

.main_text {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 32px;
    margin-top: 26px;
}

.first_arrow {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 5px
}

.first_arrow_link {
    color: #FBD784;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 700;
}

.second_part {
    display: grid;
    grid-template-columns: 566px auto;
    padding-bottom: 200px;
}

.second_grey_number {
    font-size: 240px;
    font-weight: 700;
    font-family: "Poppins";
    color: white;
    opacity: 10%;
    position: absolute;
    margin-top: 38px;
}

.second_part_text {
    margin-left: 120px;
}

.second_inside_text {
    margin: 200px 0 0 146px;
}

.second_orange_text {
    color: #FBD784;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 800;
    display: flex;
    align-items: center;
    letter-spacing: 6px;
}

.second_orange_text:before {
    content: '';
    width: 72px;
    height: 2px;
    margin-right: 24px;
    display: block;
    background-color: #FBD784;
}

.second_text_title {
    color: white;
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins";
    margin-top: 30px;
    max-width: 600px;
    line-height: 100px;
}

.second_main_text {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 32px;
    margin-top: 22px;
    max-width: 700px;
}

.second_arrow {
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 10px;
}

.second_arrow_link {
    color: #FBD784;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 700;
    letter-spacing: 1px;
}

.second_part_img_wrap {
    max-width: 100%;
}

.second_part_img {
    object-fit: fill;
    height: 720px;
}

.third_part {
    display: grid;
    grid-template-columns: auto 566px;
    padding-bottom: 100px;
}

.third_text_title {
    color: white;
    font-size: 64px;
    font-weight: 600;
    font-family: "Poppins";
    margin-top: 30px;
    max-width: 650px;
    line-height: 98px;
}

.third_inside_text {
    margin: 176px 130px 0 135px;
}

.third_main_text {
    max-width: 700px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 32px;
    margin-top: 26px;
}

footer {
    background-color: #0B1D26;
    padding: 96px 213px 120px 229px;
    display: grid;
    grid-template-columns: 896px 405px 200px;
}

.footer_left_name {
    color: white;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 700;
    letter-spacing: 2px;
}

.footer_left_text {
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    margin-top: 24px;
    max-width: 365px;
}

.footer_left_bottom {
    color: white;
    opacity: 50%;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    margin-top: 126px;
    margin-left: 5px;
}

.footer_center {
    display: grid;
    font-family: 'Poppins';
}

.footer_center_title {
    color: #FBD784;
    font-size: 24px;
    font-weight: 700;
}

.footer_item {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 31px;
}

.footer_right {
    font-family: 'Poppins';
}

.footer_right_bottom {
    display: none;
    color: white;
    opacity: 50%;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    padding: 45px 0 57px;
}

/* menu for 480px */
.menu_scroller {
    position: fixed;
    display: block;
    width: 100%;
    height: 350px;
    left: 100%;
    top: 0;
    z-index: 2;
    background-color: white;
    transition: top 1s;
    border-radius: 0 0 10px 10px;
}

.menu_scroller.active {
    left: 0;
    transition: top 1s;
}

.menu_inside {
    margin: 65px 26px 0 38px;
}

.scroller_logo {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2.5px;
}

.scroller_header {
    display: flex;
    justify-content: space-between;
}

.scroller_bottom {
    display: grid;
    grid-template-columns: 276px auto;
    margin-top: 72px
}

.scroller_links {
    display: grid;
    gap: 28px;
}

.scroller_link {
    font-family: 'Poppins';
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.scroller_account {
    display: flex;
    align-items: start;
    gap: 9px;
}

.scroller_account_img {
    height: 28px;
    margin-top: -5px;
}

.scroller_account_link {
    font-family: 'Poppins';
    font-size: 17px;
    margin-top: 2px;
    color: black;
    font-weight: 600;
}

@media (max-width: 1536px) {

    .background {
        background-size: contain;
    }

    header {
        width: 1376px;
        padding-top: 65px;
        padding-left: 80px;
    }

    .intro_info {
        margin: 170px 140px 0 184px;
    }

    .right_nav {
        right: 34px;
        top: 323px;
    }

    .parts {
        margin: -78px 10px 0 140px;
        max-width: 1260px;
    }

    .first_part {
        grid-template-columns: auto 487px;
    }

    .inside_text {
        padding: 207px 0 0 70px;
    }

    .text_title {
        font-family: 'Poppins';
        line-height: 97px;
    }

    .main_text {
        max-width: 632px;
    }

    .first_part_img_wrap {
        max-width: 487px;
    }

    .first_part_img {
        object-fit: cover;
        height: 765px;
    }

    .second_part {
        grid-template-columns: 487px auto;
    }

    .second_part_img_wrap {
        max-width: 487px;
    }

    .second_part_img {
        max-width: 100%;
        object-fit: fill;
        height: 765px;
    }

    .second_part_text {
        margin-left: 78px;
    }

    .second_grey_number {
        margin-top: 18px;
    }

    .second_inside_text {
        margin: 173px 0 0 105px;
    }

    .second_main_text {
        margin-top: 28px;
    }

    .third_part {
        grid-template-columns: auto 487px;
    }

    .third_part_img_wrap {
        max-width: 487px;
    }

    .third_part_img {
        max-width: 100%;
        object-fit: fill;
        height: 765px;
    }

    .third_inside_text {
        margin: 203px 80px 0 70px;
    }

    footer {
        grid-template-columns: 622px 417px 1fr;
        padding: 96px 100px 120px 140px;
    }

    .footer_center .footer_item {
        display: block;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-top: 1px;
    }
}

@media (max-width: 1024px) {

    .background {
        background-size: cover;
        padding-top: 140%;
        background-position: center;
    }

    header {
        max-width: 890px;
        padding-top: 68px;
        padding-left: 60px;
    }

    .menu {
        gap: 40px;
    }

    .account_link {
        font-size: 16px;
    }

    .intro_info {
        margin: 173px 140px 0 98px;
    }

    .info_text {
        font-size: 58px;
    }

    .nav_item {
        padding: 24px 12px;
    }

    .intro_arrow {
        padding: 3px;
    }

    .parts {
        margin: -200px 82px 0px;
        flex-wrap: wrap;
        max-width: 960px;
    }

    .first_part {
        grid-template-columns: 860px;
    }

    .grey_number {
        margin-left: 50px;
    }

    .inside_text {
        padding: 180px 0 0 50px;
        max-width: 725px;
    }

    .main_text {
        max-width: 725px;
    }

    .first_part_img_wrap {
        padding-top: 69px;
        max-width: 100%;
    }

    .first_part_img {
        object-fit: fill;
        height: 982px;
    }

    .second_part {
        grid-template-columns: 860px;
    }

    .second_part_text {
        margin-left: 50px;
    }

    .second_grey_number {
        margin-top: 50px;
    }

    .second_inside_text {
        display: flex;
        flex-direction: column;
        margin: 191px 60px 0 109px;
        text-align: end;
        align-items: end;
    }

    .second_orange_text {
        align-self: start;
        margin-left: 24px;
    }

    .second_orange_text:before {
        width: 124px;
    }

    .second_main_text {
        margin-top: 5px;
        max-width: 630px;
    }

    .second_part_img_wrap {
        order: 1;
        padding-top: 69px;
        max-width: 860px;
    }

    .second_part_img {
        object-fit: fill;
        height: 982px;
    }

    .second_arrow {
        align-self: start;
        margin-left: 10px;
    }

    .third_part {
        grid-template-columns: 860px;
    }

    footer {
        grid-template-columns: 440px 245px 184px;
        padding: 0 32px 10px;
    }
}

@media (max-width: 480px) {
    header {
        max-width: 440px;
        padding: 61px 20px 0;
    }

    .menu,
    .account {
        display: none;
    }

    .menu_button {
        display: block;
    }

    .logo {
        font-size: 40px;
        letter-spacing: 4px;
    }

    .social_links {
        writing-mode: horizontal-tb;
        align-items: center;
        justify-content: right;
        margin: 0;
        margin-top: 158px;
    }

    .links_text {
        font-size: 16px;
        margin-right: 5px;
    }

    .intro {
        display: grid;
        grid-template-columns: 460px;
        justify-content: space-between;
        margin-top: 0;
    }

    .social_link {
        height: 14px;
    }

    .right_nav {
        right: 15px;
        top: 300px;
    }

    .intro_info {
        margin: 20px 20px 0;
    }

    .info_guide {
        letter-spacing: 5px;
    }

    .info_guide:before {
        margin-right: 22px;
    }

    .info_text {
        font-size: 42px;
        max-width: 379px;
        line-height: 70px;
        margin: 26px 0 37px;
    }

    .nav_item {
        font-size: 15px;
        padding: 24.5px 15px;
    }

    .intro_arrow {
        padding: 3px 0;
    }

    .arrow_text {
        font-size: 16px;
        font-weight: 600;
    }

    .background {
        padding-top: 180%;
    }

    .parts {
        margin: -200px 20px 0;
        max-width: 440px;
        gap: 40px;
    }

    .first_part {
        grid-template-columns: 440px;
        padding-bottom: 0;
    }

    .grey_number {
        font-size: 140px;
        margin-left: 0;
        margin-top: 33px;
    }

    .inside_text {
        padding: 115px 0 0 0;
    }

    .orange_text {
        font-size: 14px;
    }

    .text_title {
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.3px;
    }

    .main_text {
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 400;
        letter-spacing: 0.07px;
    }

    .first_arrow {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .first_arrow_link {
        font-size: 14px;
    }

    .first_part_img_wrap {
        padding-top: 45px;
    }

    .first_part_img {
        height: 509px;
    }

    .second_part {
        grid-template-columns: 440px;
        padding-bottom: 0;
    }

    .second_part_img_wrap {
        padding-top: 23px;
    }

    .second_part_img {
        height: 509px;
    }

    .second_part_text {
        margin-left: 0px;
    }

    .second_grey_number {
        font-size: 140px;
        margin-top: 0;
    }

    .second_inside_text {
        margin: 93px 0 0 0;
    }

    .second_orange_text:before {
        max-width: 72px;
    }

    .second_orange_text {
        font-size: 14px;
        margin-left: 0;
    }

    .second_text_title {
        margin-top: 28px;
        margin-right: 2px;
        font-size: 30px;
        line-height: 46px;
    }

    .second_main_text {
        max-width: 440px;
        margin-top: 28px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.01px;
    }

    .second_arrow {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 0;
        margin-top: 30px
    }

    .second_arrow_link {
        font-size: 14px;
    }

    .third_part_text,
    .grey_number {
        margin: 0;
    }

    .third_grey_number {
        font-size: 140px;
        margin-top: 0;
    }

    .third_inside_text {
        margin: 70px 0 0 0;
        max-width: 440px;
    }

    .third_text_title {
        font-size: 30px;
        line-height: 46px;
    }

    .third_main_text {
        margin-top: 25px;
        letter-spacing: 0.8px;
        font-size: 16px;
    }

    .third_part .first_part_img_wrap {
        padding-top: 22px;
    }

    footer {
        display: grid;
        grid-template-columns: 440px;
        max-width: 440px;
        padding: 23px 20px 0;
    }

    .footer_left {
        max-width: 440px;
    }

    .footer_left_name {
        font-size: 30px;
    }

    .footer_left_text {
        max-width: 440px;
        font-size: 12px;
    }

    .footer_center {
        max-width: 440px;
    }

    .footer_left_bottom {
        display: none;
    }

    .footer_center {
        margin-top: 25px;
    }

    .footer_center_title {
        font-size: 20px;
    }

    .footer_center .footer_item {
        font-size: 13px;
        font-weight: 500;
        margin-top: 22px
    }

    .footer_right_bottom {
        display: block;
    }

    .footer_right {
        margin-top: 43px;
    }

    .footer_item {
        font-size: 13px;
        margin-top: 15px;
    }
}